
<div class="spinnerContainer" *ngIf="isFetching; else requirementCards">
  <mat-spinner diameter="20" color="warn"></mat-spinner>
</div>

<ng-template #requirementCards>
  <div *ngFor="let requirement of (requirements)">

    <div class="requirementCard" *ngFor="let visa of requirement.visa">
      <div>{{countriesMap[visa.country2] ? countriesMap[visa.country2].name : visa.country2}}</div>
      
      <div>Allow to stay {{visa.allowedStay}}</div>
        <div *ngIf="visa.textual">
          <span *ngFor="let text of (visa.textual.text.slice(0, 2))">
            {{text}}
          </span>
        </div>
        <div *ngIf="visa.availableVisas && visa.availableVisas.length > 0">
          <div class="btnContainer" *ngFor="let availableVisa of visa.availableVisas">
            <a class="applyNow" href={{availableVisa.productRedirectUrl}}>{{localization.applyBtn || 'Apply Now'}}</a>
          </div>
        </div>

    </div>
  </div>
</ng-template>
