.requirementCard {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d0c4c4;
}

.applyNow {
  text-decoration: none;
  padding: 10px 20px;
  background: #3F51B5;
  color: white;
}
.btnContainer {
  margin-top: 20px;
  padding-bottom :20px;
}

.spinnerContainer ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3F51B5;
}